/* .container-fluid{
    background-image: url(../../../assets/trainBanner.avif);

} */

/* body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../../../assets/trainBanner.avif'); 
    
    background-repeat: no-repeat;

    background-size: cover;
  } */